.editProfile{
    display: none;
}

.editProfile:hover{
    display: block;
}




.name:hover ~.editProfile{
    display: block;
    cursor:pointer
}

.userNameInput {
    background-color:lightgoldenrodyellow;
    color: black;
    border: ridge 1px blueviolet;
    border-radius: 15px;
    line-height: 1em;
    padding: 5px 5px;
}



