.header{
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    width:90vw;
  }
  
  .rank{
    text-align: left;
    align-self: center;
    font-size: x-small;
  }

  .rankingItems{
    display: flex;
    justify-content: space-between;
    padding-right: 5px;
  }


  
  .profile{
    text-align: center;
    align-self: center;
    font-size: medium;
    color: whitesmoke;
  }
  
  .title{
    text-align: center;
    font-size: xx-large;
    align-self: center;
  }
